include ursina/audio/*
include ursina/fonts/*
include ursina/models/procedural/*
include ursina/models_compressed/*
include ursina/prefabs/*
include ursina/scripts/*
include ursina/textures/*
include ursina/textures/items/*
include ursina/shaders/screenspace_shaders/*
include ursina/audio/*
